<div id="scaffolds">
  <p id="notice"><%= notice %></p>

  <h1>Listing Orders</h1>

  <table>
    <thead>
    <tr>
      <th style="width:200px;margin-left:10px;">Email</th>
      <th style="width:200px;margin-left:10px;">Total</th>
      <th style="width:200px;margin-left:10px;">Time</th>
      <th style="width:200px;margin-left:10px;">Status</th>
    </tr>
    </thead>

    <tbody>
    <% @orders.each do |order| %>
        <tr>
          <td><%= order.email %></td>
          <td><%= order.total %></td>
          <td><%= order.created_at.to_formatted_s(:long) %></td>
          <td><%= order.status %></td>
        </tr>
    <% end %>
    </tbody>
    </table>

    <br>

</div>